<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Rating</clr-dg-column>
  <clr-dg-column>Release date</clr-dg-column>

  <clr-dg-row *clrDgItems="let movie of movies; trackBy: trackItem" [clrDgItem]="movie">
    <clr-dg-cell>{{movie.movie_title}}</clr-dg-cell>
    <clr-dg-cell>{{movie.movie_rating}}</clr-dg-cell>
    <clr-dg-cell>{{movie.movie_release_date}}</clr-dg-cell>
  </clr-dg-row>

  <ng-template let-detail [(clrIfDetail)]="movie">
    <clr-dg-detail>
      <clr-dg-detail-header>{{detail.movie_title}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-show-movie
        [movieId]="detail.movie_id"
        [isFromRatingTable]="isFromRatingTable"
        [ratings]="ratings"
        ></app-show-movie>
      </clr-dg-detail-body>
      <div class="button-container">
        <button>Add to favourites</button>
        <button>Rate</button>
      </div>
    </clr-dg-detail>
  </ng-template>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[10,20,50,100]">
        <label [for]="clrDgPageSize.pageSizeOptionsId">Movies per page</label>
      </clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} movies
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

