<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Summary</clr-dg-column>
  <clr-dg-column>Genres</clr-dg-column>
  <clr-dg-column>Rating</clr-dg-column>
  <clr-dg-column>Release date</clr-dg-column>

  <clr-dg-row>
    <clr-dg-cell>1</clr-dg-cell>
    <clr-dg-cell>2</clr-dg-cell>
    <clr-dg-cell>3</clr-dg-cell>
    <clr-dg-cell>4</clr-dg-cell>
    <clr-dg-cell>5</clr-dg-cell>
  </clr-dg-row>

  <ng-template [(clrIfDetail)]="detailState" let-detail>
    <clr-dg-detail>
      <clr-dg-detail-header>{{detail.name}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-show-movie></app-show-movie>
      </clr-dg-detail-body>
    </clr-dg-detail>
  </ng-template>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[10,20,50,100]">
        <label [for]="clrDgPageSize.pageSizeOptionsId">Users per page</label>
      </clr-dg-page-size>
      <!--
      or you can use the clrPageSizeOptionsId input to explicitly set the id:
      <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]" clrPageSizeOptionsId="page-size-select-id">
          <label for="page-size-select-id">Users per page</label>
      </clr-dg-page-size>
      -->
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

