<clr-datagrid>
  <clr-dg-column>Title</clr-dg-column>
  <clr-dg-column>Rating</clr-dg-column>
  <clr-dg-column>Release date</clr-dg-column>

  <clr-dg-row *clrDgItems="let movie of movies; trackBy: trackItem" [clrDgItem]="movie">
    <clr-dg-cell>{{movie.movie_title}}</clr-dg-cell>
    <clr-dg-cell>{{movie.movie_rating}}</clr-dg-cell>
    <clr-dg-cell>{{movie.movie_release_date}}</clr-dg-cell>
  </clr-dg-row>

  <ng-template let-detail [(clrIfDetail)]="movie">
    <clr-dg-detail>
      <clr-dg-detail-header>{{detail.movie_title}}</clr-dg-detail-header>
      <clr-dg-detail-body>
        <app-show-movie
          [movieId]="detail.movie_id"
          [isFromRatingTable]="isFromRatingTable"
          [ratings]="ratings"
        ></app-show-movie>
        <div class="button-container">
          <button class="btn btn-primary" (click)="addToFavs(detail.movie_id)">Add to favourites</button>
          <button class="btn btn-primary" (click)="showRateModal(detail.movie_id)">Rate</button>
          <button class="btn btn-outline" (click)="showRelatedMovies(movie?.movie_id)">Show related movies</button>
        </div>
      </clr-dg-detail-body>
    </clr-dg-detail>
  </ng-template>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="20">
      <clr-dg-page-size #clrDgPageSize [clrPageSizeOptions]="[10,20,50,100]">
        <label [for]="clrDgPageSize.pageSizeOptionsId">Movies per page</label>
      </clr-dg-page-size>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
      of {{pagination.totalItems}} movies
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="isRelatedMoviesModalOpen" [clrModalSize]="'lg'" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Related movies ({{movie?.movie_title}}): </h3>
  <div class="modal-body">
    <div *ngIf="results.length == 0">
      <clr-spinner clrInline>Getting information</clr-spinner>
    </div>
    <div *ngIf="results.length > 0">
      <div *ngFor="let res of results">
        <h2>
          {{res.movie_title}}
        </h2>
        <app-show-movie
          [movieId]="res.movie_id"
        ></app-show-movie>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">Ok</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isRateMovieModalOpen" [clrModalSize]="'lg'" [clrModalClosable]="false"
           [clrModalStaticBackdrop]="true">
  <h3 class="modal-title">Rate ({{movie?.movie_title}}): </h3>
  <div class="modal-body">
        <clr-select-container>
          <label>Rating: </label>
          <select clrSelect name="options" [(ngModel)]="ratingOptions">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </clr-select-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeRateModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="rate(movie?.movie_id, ratingOptions)">Rate</button>
  </div>
</clr-modal>
